img {
    width: 250px;
    height: 250px;
}

.container-prod {
    border: 1px solid gray;
    border-top: 15px solid rgb(70, 70, 70);
}

.marca {
    color: rgb(88, 88, 88);
    margin-top: 4px;
}

.nombre {
    margin-top: -10px;
    font-weight: 700;
}